<button class="button_delete">Clear articles</button>
<a href="/scrape"><button class="button_scraper">Scrape articles</button></a>
<div id="wrapper">
<div id="articles"></div>
<div id="notes"></div>
</div>
