
    {{#each articles}}
    {{#unless saved}}
      <div class="card" id="results">
        <div class="card-header">
            <h6><a class="article-link" href="https://text.npr.org{{this.link}}">{{this.title}}</a>
            <button type="button" class="btn btn-outline-dark mt-auto float-right save" data-id="{{this._id}}">Save Article</button></h6>
        </div>
      </div>
    {{/unless}}
  {{/each}}
  